

.row {
    margin-top: 50px;
    color: darkmagenta;  
}

main {
  
    flex: 1 0 auto;
    background-image:url("../images/fondo3op2.jpg");
    background-size: 30%;
    background-position-y: 20px;
    


}


#map {
    height: 450px;
    margin-top: 30px;
    margin-bottom:30px;
  };

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  #address{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .imagesize{
    height:90px;
    width:90px;
  }

  #infoStyle{
    height: 60px;
  }


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }

#logo {
    height: 75px;
    width: auto;
    margin-left: 30px;
}


.card {
    margin-left: 50px;
}

#dog {
    height: auto;
    width: 700px;
}

#paw {
    height: 40px;
    width: auto;
    filter: grayscale(100%)
}



#dogo {
    height: 40px;
    width: auto;
}

.stats {
    margin-left: 250px;
    margin-top: 180px;
}

.icons {
    height: 200px;
    width: auto;
}

