
/* la font usada para el body y todos los textos es font-family: 'Nunito', sans-serif;*/

.row {
    margin-top: 150px;
    
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }



main {
  
    flex: 1 0 auto;
    background-image:url("../images/fondo3op2.jpg");
    background-size: 30%;
    background-position-y: 20px;
    font-family: 'Nunito', sans-serif;
}



  
#logo {
    height: 75px;
    width: auto;
    margin-left: 30px;
    padding-bottom: 20px;
}


.card {
    margin-left: 50px;
}

#dog {
    height: auto;
    width: 700px;
}

#paw {
    height: 40px;
    width: auto;
    filter: grayscale(100%)
}



#dogo {
    height: 40px;
    width: auto;
}

.stats {
    margin-left: 250px;
    margin-top: 250px;
}

.icons {
    height: 200px;
    width: auto;
}



.header {
    height: 500px;
    background-color: #eff3ff;
}

#boton-test {
    top: 5%;
}




  
    


.logo h4 {

    font-size: 80px;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.all-headers {
    height: 90px;
    background-color: #eff3ff;
}

#boton-test2 {
    top:3%;
}

.nav-wrapper {
    height: 150px;
    background-color: #eff3ff;
    
}

#fotos {
    margin-left: 250px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 100px;
}

.contactanos {
    width: 960px;
    margin: auto;
    background: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    

}

.social-media {
    height: 40px;
    width: auto;
}

.left {
    margin-bottom: 60px;
}