
/* la font usada para el body y todos los textos es font-family: 'Nunito', sans-serif;*/
/*Estilos general del web*/

.row {
    margin-top: 150px;
    
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }



main {
  
    flex: 1 0 auto;
    background-image:url("../images/fondo3op2.jpg");
    background-size: 30%;
    background-position-y: 20px;
    font-family: 'Nunito', sans-serif;
}



  
#logo {
    height: 75px;
    width: auto;
    margin-left: 30px;
    padding-bottom: 20px;
}


.card {
    margin-left: 50px;
}

#dog {
    height: auto;
    width: 700px;
}

#paw {
    height: 40px;
    width: auto;
    filter: grayscale(100%)
}



#dogo {
    height: 40px;
    width: auto;
}

.stats {
    margin-left: 250px;
    margin-top: 250px;
}

.icons {
    height: 200px;
    width: auto;
}



.header {
    height: 500px;
    background-color: #eff3ff;
}

#boton-test {
    top: 5%;
}


.logo h4 {

    font-size: 80px;
    text-align: center;
    font-family: 'Righteous', cursive;
}

.all-headers {
    height: 90px;
    background-color: #eff3ff;
}

#boton-test2 {
    top:3%;
}


.nav-wrapper {
    height: 150px;
    background-color: #eff3ff;
    
}

#fotos {
    margin-left: 250px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 100px;
}

.contactanos {
    width: 960px;
    margin: auto;
    background: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px;
    

}

.social-media {
    height: 40px;
    width: auto;
}

.left {
    margin-bottom: 60px;
}


/*Estilos usados por el mapa*/
#map {
  height: 500px;
  margin-top: 30px;
  margin-bottom:30px;
};

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#address{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.imagesize{
  height:90px;
  width:90px;
}

#infoStyle{
  height: 60px;
  margin-top:20px;
}

#iw-container  .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0;
  text-align: center;
}

.gm-style-iw {
  width: 350px !important;
  top: 0 !important;
  left: 0 !important;
  border-radius: 2px 2px 0 0;
  
}

/*Se acaba el estilo del mapa*/